<!--Page Area Start-->
<div class="page-section pt-100">
    <div class="container">
        <div id="post-185"  class="post-185 page type-page status-publish has-post-thumbnail hentry ">
            <!-- Block -->
            <div class="offset-sm">
                <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
                    class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="About-feature-area bg-color-1 page-padding ">
                                    <div class="container">
                                        <div class="row">
                                            <div class="about-feature">
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="single-about">
                                                        <div class="feature-icon">
                                                            <i class="fa fa-cloud"></i>
                                                        </div>
                                                        <div class="feature-text">
                                                            <h4>Dịch Vụ Phát Triển</h4>
                                                            <p>Chúng tôi có thể giúp trò chơi của bạn phát triển và mở
                                                                rộng nhanh chóng.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="single-about">
                                                        <div class="feature-icon">
                                                            <i class="fas fa-tv"></i>
                                                        </div>
                                                        <div class="feature-text">
                                                            <h4>Đa Nền Tảng</h4>
                                                            <p>Cho phép các ứng dụng của bạn chạy trên các nền tảng khác
                                                                nhau như Windows, iOS và Android</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="single-about">
                                                        <div class="feature-icon">
                                                            <i class="fa fa-gift"></i>
                                                        </div>
                                                        <div class="feature-text">
                                                            <h4>Hoạt Động</h4>
                                                            <p>Cùng với sự phát triển của công nghệ, chúng tôi sẽ tiếp
                                                                tục giúp đỡ từ vấn khách hàng.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                    class="vc_row wpb_row vc_row-fluid team-area bg-color-1 area-padding">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner vc_custom_1574791208980">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element  vc_custom_1574791229422">
                                    <div class="wpb_wrapper">
                                        <div class="section-headline white-headline text-center">
                                            <h3>Chuyên Gia Của Chúng Tôi</h3>
                                            <p>Chúng tôi là những chuyên gia luôn chăm chỉ làm việc . Chúng tôi loại bỏ những điều không cần thiết và chọn lọc ra những gì quan trọng.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="team-member team-carousel text-center ">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="single-member">
                                                <div class="team-img">
                                                    <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                        alt="image"
                                                        data-lazy-src="../wp-content/uploads/2019/03/t1.jpg"><noscript><img
                                                            src="../wp-content/uploads/2019/03/t1.jpg"
                                                            alt="image"></noscript>
                                                </div>
                                                <div class="team-content">
                                                    <h4>Drake</h4>
                                                    <p>Games Developer</p>
                                                    <ul class="team-hover">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="single-member">
                                                <div class="team-img">
                                                    <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                        alt="image"
                                                        data-lazy-src="../wp-content/uploads/2019/03/t2.jpg"><noscript><img
                                                            src="../wp-content/uploads/2019/03/t2.jpg"
                                                            alt="image"></noscript>
                                                </div>
                                                <div class="team-content">
                                                    <h4>Nguyên Long</h4>
                                                    <p>Wed Developer</p>
                                                    <ul class="team-hover">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="single-member">
                                                <div class="team-img">
                                                    <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                        alt="image"
                                                        data-lazy-src="../wp-content/uploads/2019/03/t3.jpg"><noscript><img
                                                            src="../wp-content/uploads/2019/03/t3.jpg"
                                                            alt="image"></noscript>
                                                </div>
                                                <div class="team-content">
                                                    <h4>Hamilton</h4>
                                                    <p>Games Developer</p>
                                                    <ul class="team-hover">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="single-member">
                                                <div class="team-img">
                                                    <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                        alt="image"
                                                        data-lazy-src="../wp-content/uploads/2019/03/t4.jpg"><noscript><img
                                                            src="../wp-content/uploads/2019/03/t4.jpg"
                                                            alt="image"></noscript>
                                                </div>
                                                <div class="team-content">
                                                    <h4>Hamilton</h4>
                                                    <p>Games Developer</p>
                                                    <ul class="team-hover">
                                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                    class="vc_row wpb_row vc_row-fluid brand-area bg-color-2 area-padding">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="row">
                                    <div class="brand-items">
                                        <div class="col-md-2 col-sm-4 col-xs-12">
                                            <div class="single-brand-item">
                                                <a href="../wp-content/uploads/2019/03/1.png"><img
                                                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                        alt="Image"
                                                        data-lazy-src="../wp-content/uploads/2019/03/1.png"><noscript><img
                                                            src="../wp-content/uploads/2019/03/1.png"
                                                            alt="Image"></noscript></a>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-xs-12">
                                            <div class="single-brand-item">
                                                <a href="../wp-content/uploads/2019/03/2.png"><img
                                                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                        alt="Image"
                                                        data-lazy-src="../wp-content/uploads/2019/03/2.png"><noscript><img
                                                            src="../wp-content/uploads/2019/03/2.png"
                                                            alt="Image"></noscript></a>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-xs-12">
                                            <div class="single-brand-item">
                                                <a href="../wp-content/uploads/2019/03/3.png"><img
                                                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                        alt="Image"
                                                        data-lazy-src="../wp-content/uploads/2019/03/3.png"><noscript><img
                                                            src="../wp-content/uploads/2019/03/3.png"
                                                            alt="Image"></noscript></a>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-xs-12">
                                            <div class="single-brand-item">
                                                <a href="../wp-content/uploads/2019/03/4.png"><img
                                                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                        alt="Image"
                                                        data-lazy-src="../wp-content/uploads/2019/03/4.png"><noscript><img
                                                            src="../wp-content/uploads/2019/03/4.png"
                                                            alt="Image"></noscript></a>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-xs-12">
                                            <div class="single-brand-item">
                                                <a href="../wp-content/uploads/2019/03/5.png"><img
                                                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                        alt="Image"
                                                        data-lazy-src="../wp-content/uploads/2019/03/5.png"><noscript><img
                                                            src="../wp-content/uploads/2019/03/5.png"
                                                            alt="Image"></noscript></a>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-xs-12">
                                            <div class="single-brand-item">
                                                <a href="../wp-content/uploads/2019/03/6.png"><img
                                                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                        alt="Image"
                                                        data-lazy-src="../wp-content/uploads/2019/03/6.png"><noscript><img
                                                            src="../wp-content/uploads/2019/03/6.png"
                                                            alt="Image"></noscript></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="vc_row-full-width vc_clearfix"></div>
            </div>
            <!-- //Block -->
        </div>
    </div>
</div>
<!--End of Page Area-->