<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>


<body>
    <style>
        html,
        body {
            min-height: 100%
        }

        body {
            /* background: #f6f6f6 top center no-repeat; */
            background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            background-size: cover;
            font-family: "Open Sans",
                sans-serif;
            font-size: 14px;
            margin: 0
        }

        #box {
            width: 400px;
            margin: 10% auto;
            text-align: center;
            background: white;
            padding: 20px 50px;
            box-sizing: border-box;
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
            border-radius: 2%
        }

        h1 {
            margin-bottom: 1.5em;
            font-size: 30px;
            color: #484548;
            font-weight: 100;
        }

        h1 span,
        small {
            display: block;
            font-size: 14px;
            color: #989598;
        }

        small {
            font-style: italic;
            font-size: 11px;
        }

        form p {
            position: relative;
        }

        .password {
            width: 90%;
            padding: 15px 12px;
            margin-bottom: 5px;
            border: 1px solid #e5e5e5;
            border-bottom: 2px solid #ddd;
            background: rgba(255, 255, 255, 0.2) !important;
            color: #555;
        }

        .password+.unmask {
            position: absolute;
            right: 5%;
            top: 10px;
            width: 25px;
            height: 25px;
            background: transparent;
            border-radius: 50%;
            cursor: pointer;
            border: none;
            font-family: 'fontawesome';
            font-size: 14px;
            line-height: 24px;
            -webkit-appearance: none;
            outline: none
        }

        .password+.unmask:before {
            content: "\f06e";
            position: absolute;
            top: 0;
            left: 0;
            width: 25px;
            height: 25px;
            background: rgba(205, 205, 205, 0.2);
            z-index: 1;
            color: #aaa;
            border: 2px solid;
            border-radius: 50%;
        }

        .password[type="text"]+.unmask:before {
            content: "\f070";
            background: rgba(105, 205, 255, 0.2);
            color: #06a
        }

        #valid {
            font-size: 12px;
            color: #daa;
            height: 15px
        }

        #strong {
            height: 20px;
            font-size: 12px;
            color: #daa;
            text-transform: capitalize;
            background: rgba(205, 205, 205, 0.1);
            border-radius: 5px;
            overflow: hidden
        }

        #strong span {
            display: block;
            box-shadow: 0 0 0 #fff inset;
            height: 100%;
            transition: all 0.8s
        }

        #strong .weak {
            box-shadow: 5em 0 0 #daa inset;
        }

        #strong .medium {
            color: #da6;
            box-shadow: 10em 0 0 #da6 inset
        }

        #strong .strong {
            color: #595;
            box-shadow: 50em 0 0 #ada inset
        }

        .button {
            margin-top: 20px;
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #4CAF50;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

        .button:hover,
        .button:active,
        .button:focus {
            background: #43A047;
        }
    </style>

    <div id="box">
        <form id="myform-search" autocomplete="off">
            <h1>Đổi mật khẩu<span></span></h1>

            <p>
                <input type="password" placeholder="Enter Password" id="p" class="password" required>
                <button class="unmask" type="button"></button>
            </p>
            <p>
                <input type="password" placeholder="Confirm Password" id="p-c" class="password" required>
                <button class="unmask" type="button"></button>

            <div id="strong"><span></span></div>

            <div id="valid"></div>
            <button class="button mt-5">success</button>

            <small>Phải dài hơn 6 ký tự và chứa ít nhất 1 chữ hoa, 1 số, 1 ký tự đặc biệt.</small>
            </p>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script>
        $('.unmask').on('click', function () {
            if ($(this).prev('input').attr('type') == 'password')
                $(this).prev('input').prop('type', 'text');
            else
                $(this).prev('input').prop('type', 'password');
            return false;
        });
        //Begin supreme heuristics 
        $('.password').on('keyup', function () {
            var p_c = $('#p-c');
            var p = $('#p');
            if (p.val().length > 0) {
                if (p.val() != p_c.val()) {
                    $('#valid').html("Mật khẩu không khớp");
                } else {
                    $('#valid').html('');
                }
                var s = 'weak'
                if (p.val().length > 5 && p.val().match(/\d+/g))
                    s = 'medium';
                if (p.val().length > 6 && p.val().match(/[^\w\s]/gi))
                    s = 'strong';
                $('#strong span').addClass(s).html(s);
            }
        });
        $('.button').on('click', function (e) {
            e.preventDefault()

            var p_c = $('#p-c');
            var p = $('#p');
            if (p.val() != p_c.val()) {
                e.preventDefault()

            } else {
                $.ajax({
                    url: "/change-passwords", //this is the submit URL
                    type: 'POST', //or POST
                    data: { password: p.val(), confirmPassword: p_c.val() },
                    success: function (data) {
                        window.location.replace('http://localhost:8000/');
                    }

                });
            }



        })

    </script>
</body>

</html>