<!doctype html>
<html lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<base href="/">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="wp-content/themes/cavalier/assets/images/logo/logotaycam.jpg">
    <title>Home</title>
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>

    <!-- <link rel='stylesheet' id='contact-form-7-css'
        href='wp-content/plugins/contact-form-7/includes/css/stylesbb49.css?ver=5.2.2' type='text/css' media='all' /> -->
    <link rel='stylesheet' id='js_composer_front-css'
        href='wp-content/plugins/js_composer/assets/css/js_composer.min9b2d.css?ver=6.1' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='wp-content/themes/cavalier/assets/css/bootstrap.min.css'
        type='text/css' media='all' />
    <!-- <link rel='stylesheet' id='owl-carousel-css' href='wp-content/themes/cavalier/assets/css/owl.carousel.css'
        type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='owl-transitions-css' href='wp-content/themes/cavalier/assets/css/owl.transitions.css'
        type='text/css' media='all' /> -->
    <link rel='stylesheet' id='meanmenu-css' href='wp-content/themes/cavalier/assets/css/meanmenu.min.css'
        type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='wp-content/themes/cavalier/assets/css/font-awesome.min.css'
        type='text/css' media='all' />
    <!-- <link rel='stylesheet' id='icon-css' href='wp-content/themes/cavalier/assets/css/icon.css' type='text/css'
        media='all' /> -->
    <!-- <link rel='stylesheet' id='flaticon-css' href='wp-content/themes/cavalier/assets/css/flaticon.css' type='text/css'
        media='all' /> -->
    <!-- <link rel='stylesheet' id='magnific-css' href='wp-content/themes/cavalier/assets/css/magnific.min.css'
        type='text/css' media='all' />
    <link rel='stylesheet' id='venobox-css' href='wp-content/themes/cavalier/assets/css/venobox.css' type='text/css'
        media='all' /> -->
    <link rel='stylesheet' id='cavalier-default-norm-css'
        href='wp-content/themes/cavalier/assets/css/wp-default-norm.css' type='text/css' media='all' />
    <link rel='stylesheet' id='cavalier-style-css' href='wp-content/themes/cavalier/styled03b.css?ver=5.5.1'
        type='text/css' media='all' />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


    </style>
    <link rel='stylesheet' id='cavalier-responsive-css' href='wp-content/themes/cavalier/assets/css/responsive.css'
        type='text/css' media='all' />
    <link href="wp-content/themes/cavalier/style.css" rel="stylesheet" type="text/css">
    <script type='text/javascript' src='wp-includes/js/jquery/jquery4a5f.js?ver=1.12.4-wp' id='jquery-core-js'></script>




    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1556198231556 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1556198221755 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1556198173795 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1556198186052 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1556198214557 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1556198353217 {
            margin-top: -30px !important;
        }
    </style><noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript><noscript>
        <style id="rocket-lazyload-nojs-css">
            .rll-youtube-player,
            [data-lazy-src] {
                display: none !important;
            }
        </style>
    </noscript>
</head>